version: '3.3'
services:
  portainer:
    image: portainer/portainer-ce:{{ version_portainer }}
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ volume_portainer }}:/data
    ports:
      - "9000:9000"
    restart: always

volumes:
  {{ volume_portainer }}: